.app-main {
    width: 40%;
    padding: 50px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.app-aside {
    width: 60%;
    height: 100vh;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}

.app-wrapper {
    display: flex;
}

@media only screen and (max-width: 1080px) {
    .app-wrapper {
        flex-direction:column ;
    }
    .app-main {
        width: 100%
    }
    .app-aside {
        width: 100%;
    }
  }

@media only screen and (max-width: 600px) {
    .app-aside {
        padding-left: 20px;
    }
  }
@media only screen and (max-width: 500px) {
    .app-aside {
        padding: 0 10px;
    }
  }

  