.user-profile-list-container {
  display: flex;
}

.user-profile-list-image {
  width: 100px;
  height: 100px;
  border: 1.5px solid black;
}

.user-profile-img {
  max-width: 100%;
  max-height: 100%;
}

.user-profile-list {
  flex-grow: 1;
  padding-left: 5px;
}

.user-profile-journal-container {
  display: flex;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.user-profile-journal-icons {
  width: 125px;
  height: 125px;
  border: 1.5px solid black;
  margin-right: 5px;
  flex-shrink: 0;
  transition: opacity 0.2s ease-in-out;
}

.user-profile-journal-icons:hover {
  opacity: 0.5;
}

.user-profile-button-container {
  margin-top: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
}

.user-profile-full-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.user-profile-footer {
  /* font-size: 70%; */
  color: #bababa
}

.user-profile-text {
  text-align: center;
}