.profile-container {
    width: 41px;
    height: 41px;
    /* border: 1.5px solid black; */
    border-radius: 50px;
    overflow: hidden;
    /* transition: all 0.5s ease-in-out; */
    outline: 1.5px solid black;
    box-shadow: black 5px 5px 0;

}

.profile-container:hover {
    opacity: 0.75;
}

.profile-container img {
    max-width: 100%;
    max-height: 100%; 
}